.board-row {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.game-board {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    margin-top: 2%;
}

@media screen and (max-width: 812px) {
    .game-board {
        margin-top: 10%;
    }
}
