.game {
    display: flex;
    flex-direction: column;
}

.restart-button {
    cursor: pointer;
    margin: 0 auto;
}

.game-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

@media screen and (max-width: 812px) {
    .game-buttons {
        margin-top: 10%;
    }
}

.game-buttons button {
    margin: 2%;
}
