.square {
    background: #fff;
    border: 1px solid #999;
    font-weight: bold;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
}

@media screen and (max-width: 812px) {
    .square {
        width: 100px;
        height: 100px;
        font-size: 60px;
    }
}

@media screen and (min-width: 812px) {
    .square.active:hover {
        background-color: lightgray;
    }

    .square {
        font-size: 100px;
        width: 150px;
        height: 150px;
    }
}

.square.active {
    cursor: pointer;
}

.square.X {
    color: green;
}

.square.O {
    color: red;
}
